body{
  text-align: center;
}
.container {
  width:90%;
  height:90%;
  border: 1px solid black;

}
#playScreen {
  display: none;
}
#resultScreen {
  display: none;
}
/*#startScreen {
  display: none;
}*/
