body{
  font-size: 15px;
  text-align: center;
  background-color: black;
  color: lightgray;
}

h4 {
  font-size: 30px;
}

input {
  text-align: center;
  color: black;
}

#playScreen {
  display: none;
}
#winScreen {
  display: none;
}
#failScreen {
  display: none;
}
/*#startScreen {
  display: none;
}*/

#playSubmit, #playQuit {
  border: 1px solid black;
}

#totalGuess p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  width:90%;
  border: 1px solid black;
}
.btn, .guessIn {
  color: black;
}

.gameTitle {
  font-size: 40px;
  font-weight: bold;
}

.halText {
  color: darkred;
}

.humanText {
  color: darkcyan;
}

.playResults {
  height: 300px;
  background-color: #444444;
}

.halImage {
  width: 200px;
}
.lastGuess, #totalGuess {
  height: 100px;
  border: 1px solid black;
}

.pGridBox {
  height: 100px;
}

.lastGuess p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*.resultScreen{
  height: 1000px;
-webkit-animation: expand 5s;
}
@-webkit-keyframes expand{
  0%{height:0px}
  100%{height: 1000px}
}*/
