body{
  text-align: center;
  background-color: black;
  color: lightgray;
}
.container {
  width:90%;
  border: 1px solid black;
}
.btn, .guessIn {
  color: black;
}

.gameTitle {
  font-size: 30px;
}

.halText {
  color: darkred;
}

.humanText {
  color: darkcyan;
}

#playScreen {
  display: none;
}
#winScreen {
  display: none;
}
#failScreen {
  display: none;
}
/*#startScreen {
  display: none;
}*/
.halImage{
  width: 200px;
}
.lastGuess{
  height: auto;
  background-color: lightgray;
}
.result
