body{
  text-align: center;
  background-color: black;
  color: lightgray;
}
.container {
  width:90%;
  border: 1px solid black;

}

.gameTitle {
  font-size: 30px;
}

.halText {
  color: darkred;
}

.humanText {
  color: darkcyan;
}

#playScreen {
  display: none;
}
#resultScreen {
  display: none;
}
/*#startScreen {
  display: none;
}*/
.halImage{
  height: 100px;
  width: 100px;
}
.btn{
  color: 
}
